@model FootballManagerApp.Models.Goal

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Goal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.team)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LineUp.position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LineUp.position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.goalType.goalType1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.goalType.goalType1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
