@model IEnumerable<FootballManagerApp.Models.Coach>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.coach_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imageURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birthdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wasPlayer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateStart)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.coach_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imageURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birthdate)
        </td>
        <td>
            @if (item.wasPlayer == "S")
            {
                <font>Sí</font>
            }
            else
            {
                <font>No</font>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateStart)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.iD }) |
            @Html.ActionLink("Details", "Details", new { id=item.iD }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.iD })
        </td>
    </tr>
}

</table>
