@model IEnumerable<FootballManagerApp.Models.Match>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.home)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.away)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.goalsHome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.goalsAway)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matchday1.matchday1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <!--Html.DisplayFor(modelItem => item.Team.abbreviation)-->
            @Html.ActionLink(item.Team.abbreviation.ToString(), "LineUp", new { match = item.id, team = item.Team.iD })
        </td>
        <td>
            @Html.ActionLink(item.Team1.abbreviation.ToString(), "LineUp", new { match = item.id, team = item.Team1.iD })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.goalsHome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.goalsAway)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Matchday1.matchday1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
